@keyframes moveFirst {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveSecond {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.move-first {
  animation: moveFirst 3s linear infinite;
}
.move-second {
  animation: moveSecond 4s linear infinite;
}
.move-third {
  animation: moveFirst 3s linear infinite;
}
.move-fourth {
  animation: moveSecond 4s linear infinite;
}
