@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Ubuntu&display=swap");

.banner-text {
  font-family: "Ubuntu", sans-serif;
}

.swiper-pagination-bullet{
   background-color: white;
   color: white;
}